{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
<h1>Mytasks</h1>

<ul>
    {% for s in fields %}
    <li>{{fields.st1}} ({{fields.st2}} {{fields.st3}})</li>
    {% endfor %}
</ul>
<hr>
<form method="post">
    {% csrf_token %}
    <button type="submit">Сохранить</button>
</form>
<hr>
    {% if task_id %}
        <a href="/status/?task_id={{task_id}}">{{task_id}}</a>
    {% endif %}
</body>
</html>
